/* starter */




/* my CSS */

/*defaults*/

/*fonts: font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */

body {
  max-width: 100%;
  background: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

header {
  background-image: url("imgs/phone-in-hand.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  height: 600px;
  border-top: 10px solid #42f4bf;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 3rem;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
  color: #696969;
}

a {
color: white;
font-size: 2rem;
}

video {
  border: 12px solid black;
  padding: 0;
  border-radius: 5%;
}


/*specifics*/

.headerText {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 200px;
  margin-top: 100px;
}

header p {
  color: white;
  width: 400px;
  font-size: 1.3rem;
}

h1 span {
  color: #42f4bf;
  font-size: 3.5rem;
}

.purchaseLinks {
  display: flex;
  flex-direction: row;
}

.purchaseLink {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header a {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 10px;
  border-radius: 75%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a:hover {
    background-color: #42f4bf;
}

.benefits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 3%;
  text-align: center;
}

.benefit i {
  color: white;
  background-color: #42f4bf;
  font-size: 3rem;
  padding: 10px;
  border-radius: 50%;
}

.subscribe {
  background-color: lightGrey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 450px;

}

.subText {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.emailSignup {
  display: flex;
  flex-direction: row;
}

.signupText {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding: 10px;
}

.signupText:active {
  border: none;
  outline: none;
}

.signupButton {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #42f4bf;
  width: 100px;
}

.subText h3 {
  font-size: 1.3rem;
}

.reviews {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quote {
  font-style: italic;
}

.reviewer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.reviewerImgs {
  margin: 2px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.reviewerImgs img {
  margin: 3px;
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.colorLayer:hover {
    opacity: 0.5;
}

.contact {
  height: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socialIcon {
  width: 30px;
  height: 30px;
  background-color: lightGrey;
  border-radius: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.socialIcon i {
  font-size: 1.3rem;
  color: white;
}

.socialIcon:hover {
  background-color: #42f4bf;
}

footer {
  height: 150px;
  background-color: lightGrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  margin: 10px;
  font-size: 1rem;
  color: #696969;
}

footer a:hover {
  color: #42f4bf;
}
